/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015/6/25, 上午 10:53:14
    Author     : Hao Lin
*/

/*Removes Google Logo, terms of use, and Report a problem div.*/
a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}

/*openlayers map錯誤的圖不顯示*/
.olTileImage.olImageLoadError {
    display: none !important;
}

.olControlScale {
    left: 10px !important;
    bottom: 55px !important;
}

.olControlScaleLine 
{
    background: rgba(255, 255, 255, 0.5) !important;
    left: auto !important;
    left: 10px !important;
    bottom: 10px !important;
}

/*tree node樣式*/
.disableNode{
  color: #ADADAD;
}

.enableNode{
  color: black;
}

.baseLayerBtn {
    position: absolute;
    bottom: 0px  !important;
    left: 0%  !important;
    text-align: center !important;
    width: 75px !important;
}

/*圖層讀取訊息區塊*/
.olControlLoadingPanel {
    background-image: url(../../js/OpenLayers/2.13.1/ux/loading_bg.png);
    left:14px;
    top: 260px;
    position: absolute;
    width: 25px;
    height:25px;
    background-position: center;
    background-repeat: no-repeat;
    display: none;
    z-index: 1000;
}

/**/
.header {
    width:100%;
    height:75px;
    overflow: hidden;
}

h1.logo {
    margin:13px 0 0 25px;
    padding:0;
    float:left;
}

.navBlock {
    float:left;
    margin: 7px 0 0 35px;
}

.navBlock ul {
    float:left;
    margin:0;
    padding:0;
}

.navBlock li {
    list-style: none;
    float:left;
    display:block;

}

.navBlock li a {
    display:block;
    width:139px;
    height:45px;
    margin:10px;
    text-indent: -9999px;
}

.navBlock li.btn01 a:link, .navBlock li.btn01 a:visited {
    background: url(../../images/WEGIS/menu.png) no-repeat 0 0;
}

.navBlock li.btn01 a:hover, .navBlock li.btn01 a:active {
    background: url(../../images/WEGIS/menu.png) no-repeat 0 -45px;
}

.navBlock li.btn01 a.Doing {
    background: url(../../images/WEGIS/menu.png) no-repeat 0 -45px;
}

.navBlock li.btn01 a:hover, .navBlock li.btn01 a:active {
    background: url(../../images/WEGIS/menu.png) no-repeat 0 -45px;
}

.navBlock li.btn02 a:link, .navBlock li.btn02 a:visited {
    background: url(../../images/WEGIS/menu.png) no-repeat -149px 0;
}

.navBlock li.btn02 a.Doing {
    background: url(../../images/WEGIS/menu.png) no-repeat -149px 0;
}

.navBlock li.btn02 a:hover, .navBlock li.btn02 a:active {
    background: url(../../images/WEGIS/menu.png) no-repeat -149px -45px;
}

.navBlock li.btn03 a:link, .navBlock li.btn03 a:visited {
    background: url(../../images/WEGIS/menu.png) no-repeat -298px 0;
}

.navBlock li.btn03 a:hover, .navBlock li.btn03 a:active {
    background: url(../../images/WEGIS/menu.png) no-repeat -299px -45px;
}

.navBlock li.btn03 a.Doing {
    background: url(../../images/WEGIS/menu.png) no-repeat -299px -45px;
}

.navBlock li.btn04 a:link, .navBlock li.btn04 a:visited {
    background: url(../../images/WEGIS/menu.png) no-repeat -447px 0;
}

.navBlock li.btn04 a:hover, .navBlock li.btn04 a:active {
    background: url(../../images/WEGIS/menu.png) no-repeat -449px -45px;
}

.navBlock li.btn04 a.Doing {
    background: url(../../images/WEGIS/menu.png) no-repeat -449px -45px;
}

.navBlock li.btn05 a:link, .navBlock li.btn05 a:visited {
    background: url(../../images/WEGIS/menu.png) no-repeat -599px 0;
}

.navBlock li.btn05 a:hover, .navBlock li.btn05 a:active {
    background: url(../../images/WEGIS/menu.png) no-repeat -599px -45px;
}

.navBlock li.btn05 a.Doing {
    background: url(../../images/WEGIS/menu.png) no-repeat -599px -45px;
}